!!! 5

%html
  %head
    %title Adopt an Effort!
    %link(rel="stylesheet" type="text/css" href="/css/normalize.css")
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")
    %meta(name="viewport" content="width=device-width")
    / whipped up by christa / @_hartsick / http://chartsock.com
    / available on github at https://github.com/hartsick/adopt-effort
    / please fork, especially in the service of doggie adoption!

  %body

    #container.clearfix

      .text

        %h1 Adopt an Effort!

        %h3 Hi. My name is Effort, and I'm a 2 year 10 month old male greyhound looking for a home!

        .description
          %p Up until this last October, I lived at the Caliente racetrack outside of Tijuana, but thanks to Fast Friends I've settled into home life just fine. I found a couch, and it was love at first sight!

          %p I do well with other dogs, even the small white ones, but can't be trusted around cats or other small, fuzzy animals.

          %p I love walks, and will fit myself into even the tiniest space if it means getting to cuddle with my family. As you can see, my favorite pasttime is snuggling on the couch. When I'm not lounging, I think I like to play, but I'm still learning what that means, and I'll do anything for a treat.

          %p The photos of me below were taken by my foster family, who are leaving from LA in March and would love to find a forever home for me before they leave.

          %p To see these photos on Instagram (and a few videos that don't play on this site), check out the <b>#adopteffort</b> hashtag!

        .contact
          %h3 Interested in learning more about me, the adoption process, or maybe wanna meet?
          %h3 Check out my profile and adoption info at the links below!

          .links
            %a(title="Effort's Profile" href="http://fastfriends.org/dog/effort") My Profile
            %a(title="Adoption Info" href="http://fastfriends.org/content/process") Adoption Information
            %a(title="Adoption Application" href="http://fastfriends.org/form/application") Adoption Application

      = yield
