%html
  %head
    %title Adopt an Effort!
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")

  %body

    %h1 Adopt an Effort!

    = yield

    .description
      %p Hi. My name is Effort, and I'm a 2 year 9 month old male greyhound looking for a home!
      %p Up until this last October, I lived at the Caliente racetrack outside of Tijuana, but I've settled into home life just fine. I found a couch, and it was love at first sight!
      %p I do well with other dogs, even the small furry white ones, but can't be trusted around cats or other small, furry animals.
      %p Above are photos of me taken by my foster family, who are leaving from LA at the end of March.
      %p Interested in learning more about me, the adoption process, or maybe wanna meet? Check out my profile or view more info on how to adopt on Fast Friend Greyhound Adoption's website!
